/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 2;
  background-color: #fffdfa;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: inherit;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 17px;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

#go-to-admin {
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 20px;
}

/*header*/
header {
  text-align: center;
  letter-spacing: 7px;
  margin-top: 30px;

  #logo {
    font-size: 28px;
    line-height: 28px;
  }
}

@media screen and (max-width: 400px) {
  header {
    margin-top: 20px;

    #logo {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

//container
.container {
  width: 80%;
  margin: 45px auto 40px;
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
    margin: 40px auto 35px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    margin: 20px auto 15px;
  }
}

//error-page

#error_page {
  width: 30%;
  background-color: #fff;
  padding: 40px;
  margin: auto;
  text-align: center;

  p {
    padding: 10px;
  }
}
